section.sec_one_21
{
	margin-left: 50px;
}
section.sec_one_22, section.sec_one_23
{
	margin-top: 40px;
	float: left;
}
section.sec_one_22
{
	margin-left: 200px;
	width: 80px;
}
section.sec_one_23
{
	
	
}
img.profile_pic
{
	height: 200px;
	width: 200px;
}